<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @group %>

    <%= link_to 'Edit this group', edit_group_path(@group), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this group', group_path(@group), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    
    <br/>

    <%= render "posts/form", group: @group, post: @post %>
    <% @posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>

  </div>
</div>
