<div id="<%= dom_id post %>">
<h1 class="font-medium leading-tight text-3xl mt-0 mb-2 text-blue-600"><%= post.title %></h1>
<h1 class="leading-tight mt-0 mb-2"><%= post.content %></h1>

  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
