<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <%= render @post %>
    <h1 class="font-medium leading-tight text-3xl mt-0 mb-2 text-black-600">Comments</h1>

    <%- @comments.each do |comment|%>
      
      <p class="text-base font-light leading-relaxed mt-0 text-gray-800">
        <%= comment.content%>
      </p>
        <div class="flex flex-wrap justify-start space-x-2">
          <span
            class="px-4 py-1 rounded-full border border-gray-300 text-gray-500 text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
            <%= "#{(comment.user.name)}" if comment.user %>

          </span>

          <span
            class="px-4 py-1 rounded-full border border-gray-300 text-gray-500 text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
            <%= "Commented #{time_ago_in_words(comment.post.last_activity)} ago" if comment.post.last_activity %>
          </span>
        </div>
      <%- comment.replies.each do |rc|%>
        <p class="ml-4 text-base font-light leading-relaxed mt-0 text-gray-800">
          <%= rc.content%>
        </p>
      <% end %>
      
      <%= form_with(url: [@post, Comment.new] , method: "post", class:"m-2") do |f| %>

        <%= hidden_field(:comment, :parent_id, value: comment.id, class: 'form-control' ,style:"display:ndone;")  %>

        <%= text_field(:comment, :content, class: "form-control 
                                                    block
                                                    px-3
                                                    py-1.5
                                                    text-base
                                                    font-normal
                                                    text-gray-700
                                                    bg-white bg-clip-padding
                                                    border border-solid border-gray-300
                                                    rounded
                                                    transition
                                                    ease-in-out
                                                    m-0
                                                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none") %>
        <%= f.submit 'Reply',  class: "px-6
                                        mt-3
                                        py-2.5
                                        bg-blue-600
                                        text-white
                                        font-medium
                                        text-xs
                                        leading-tight
                                        uppercase
                                        rounded
                                        shadow-md
                                        hover:bg-blue-700 hover:shadow-lg
                                        focus:bg-blue-700 focus:shadow-lg 
                                        focus:outline-none focus:ring-0
                                        active:bg-blue-800 active:shadow-lg
                                        transition
                                        duration-150
                                        ease-in-out" %>
      <% end %>
      <hr/>

    <% end %>

  </div>
    <%= render "comments/form", post: @post, comment: @comment %>

</div>
 